controllers:
  esphome:
    containers:
      app:
        image:
          repository: ghcr.io/esphome/esphome
          tag: 2025.12.3
        env:
          TZ: America/New_York
        resources:
          requests:
            cpu: 1000m
            memory: 512Mi
          limits:
            cpu: 3000m
            memory: 2Gi

persistence:
  config:
    accessMode: ReadWriteOnce
    size: 8Gi

service:
  app:
    controller: esphome
    ports:
      http:
        port: 6052

route:
  app:
    enabled: true
    parentRefs:
      - name: feldman-in
        namespace: istio-system
    hostnames: ["esphome.feldman.in"]
    rules:
      - backendRefs:
          - name: esphome
            port: 6052
            namespace: home
