image:
  repository: linuxserver/prowlarr
  tag: 1.20.1
env:
  TZ: America/New_York
persistence:
  config:
    enabled: true
    accessMode: ReadWriteOnce
    size: 1Gi
  config-new:
    enabled: true
    type: custom
    volumeSpec:
      iscsi:
        targetPortal: 10.10.90.30:3260
        iqn: iqn.2005-10.org.freenas.ctl:skywalker-prowlarr-config
        lun: 0
        fsType: ext4
service:
  main:
    ports:
      http:
        port: 9696
