apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-database-cloudnative-pg
  namespace: cluster

spec:
  destination:
    namespace: database
    name: in-cluster
  project: skywalker
  source:
    chart: cloudnative-pg 
    repoURL: https://cloudnative-pg.github.io/charts
    targetRevision: 0.21.5
    helm:
      releaseName: cloudnative-pg
