*.env
secret.yaml
cd s

.vagrant/

ansible/inventories/*.ini
ansible/roles

.idea/
*.iml
*.iws

# Secrets
*.secret.yaml
**/secrets/*
!**/secrets/sealed-*

# Charts pulled by `kustomize build --enable-helm`
kubernetes/**/charts/

# Terraform
.terraform/
.terraform.tfstate*
terraform.tfstate*
# local vault cache written by the bitwarden provider (vault_path)
.bitwarden/

