apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-media-deluge
  namespace: cluster

spec:
  destination:
    namespace: media
    name: in-cluster
  project: skywalker
  source:
    chart: deluge
    repoURL: https://k8s-at-home.com/charts/
    targetRevision: 5.4.*
    helm:
      releaseName: deluge
      valuesObject:
        env:
          TZ: America/New_York
        persistence:
          config:
            enabled: true
            type: custom
            volumeSpec:
              iscsi:
                targetPortal: 10.10.90.30:3260
                iqn: iqn.2005-10.org.freenas.ctl:skywalker-deluge-config
                lun: 0
                fsType: ext4
          downloads:
            enabled: true
            type: custom
            volumeSpec:
              nfs:
                server: truenas.feldman.in
                path: /mnt/primary/Downloads
