image:
  repository: linuxserver/radarr
  tag: 5.8.3
env:
  TZ: America/New_York
persistence:
  config:
    enabled: true
    type: custom
    volumeSpec:
      iscsi:
        targetPortal: 10.10.90.30:3260
        iqn: iqn.2005-10.org.freenas.ctl:skywalker-radarr-config
        lun: 0
        fsType: ext4
  media:
    enabled: true
    mountPath: /media
    type: custom
    volumeSpec:
      nfs:
        server: truenas.feldman.in
        path: /mnt/primary/Media
  downloads:
    enabled: true
    mountPath: /downloads
    type: custom
    volumeSpec:
      nfs:
        server: truenas.feldman.in
        path: /mnt/primary/Downloads
service:
  main:
    ports:
      http:
        port: 7878
