image:
  repository: ghcr.io/gethomepage/homepage
  tag: v0.9.5
env:
  TZ: America/New_York
service:
  main:
    ports:
      http:
        port: 3000
persistence:
  config:
    enabled: true
    mountPath: /app/config
    size: 1Gi
addons:
  codeserver:
      enabled: true
      volumeMounts:
        - name: config
          mountPath: /app/config