image:
  repository: nodered/node-red
  tag: 4.0.8
env:
  TZ: America/New_York
service:
  main:
    ports:
      http:
        port: 1880
persistence:
  data:
    enabled: true
    mountPath: /data
    accessMode: ReadWriteOnce
    size: 3Gi
securityContext:
  runAsUser: 1000
  runAsGroup: 1000
podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000