apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-database-influxdb
  namespace: cluster

spec:
  destination:
    namespace: database
    name: in-cluster
  project: skywalker
  source:
    chart: influxdb
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 6.0.6
    helm:
      releaseName: influxdb
      valuesObject:
        auth:
          existingSecret: influxdb
          admin:
            username: admin
            org: Feldman
            bucket: Default
