apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-cluster-cert-manager
  namespace: cluster

spec:
  destination:
    namespace: cluster
    name: in-cluster
  project: skywalker
  source:
    chart: cert-manager
    repoURL: https://charts.jetstack.io
    targetRevision: v1.16.3
    helm:
      releaseName: cert-manager
      valuesObject:
        installCRDs: true
