apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-cluster-metallb
  namespace: cluster

spec:
  destination:
    namespace: cluster
    name: in-cluster
  project: skywalker
  source:
    chart: metallb
    repoURL: https://metallb.github.io/metallb
    targetRevision: 0.14.5
    helm:
      releaseName: metallb
  ignoreDifferences:
    - group: apiextensions.k8s.io
      kind: CustomResourceDefinition
      jsonPointers:
        - /spec/conversion/webhook/clientConfig/caBundle
