apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: istio-system

resources:
  - istio-system.namespace.yaml

  - feldman-in.gateway.yaml
  - feldman-tech.gateway.yaml

helmCharts:
  - name: base
    repo: https://istio-release.storage.googleapis.com/charts
    releaseName: istio-base
    namespace: istio-system
    version: 1.24.2

  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    releaseName: istiod
    version: 1.22.3
    namespace: istio-system
    valuesFile: values/istiod.yaml

  - name: gateway
    repo: https://istio-release.storage.googleapis.com/charts
    releaseName: istio-gateway
    version: 1.24.2
    namespace: istio-system
    valuesFile: values/istio-gateway.yaml
