apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: istio-system

metadata:
  name: istio-system

resources:
  - istio-system.namespace.yaml

helmCharts:
  - name: base
    repo: https://istio-release.storage.googleapis.com/charts
    releaseName: istio-base
    version: 1.21.1

  - name: istiod
    repo: https://istio-release.storage.googleapis.com/charts
    releaseName: istiod
    version: 1.21.1
    valuesFile: values/istiod.yaml

  - name: gateway
    repo: https://istio-release.storage.googleapis.com/charts
    releaseName: istio-gateway
    version: 1.21.1
    valuesFile: values/istio-gateway.yaml
