apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-database-kube-prometheus
  namespace: cluster

spec:
  destination:
    namespace: database
    name: in-cluster
  project: skywalker
  source:
    chart: kube-prometheus
    repoURL: https://charts.bitnami.com/bitnami
    targetRevision: 9.5.6
    helm:
      releaseName: kube-prometheus
      valuesObject:
        prometheus:
          retention: '10d'
          retentionSize: "7GB"
          resources:
            requests:
              cpu: 2
              memory: 512Mi
            limits:
              cpu: 4
              memory: 2Gi
