image:
  repository: linuxserver/sonarr
  tag: 4.0.6.1805
env:
  TZ: America/New_York

persistence:
  config:
    enabled: true
    type: custom
    volumeSpec:
      iscsi:
        targetPortal: 10.10.90.30:3260
        iqn: iqn.2005-10.org.freenas.ctl:skywalker-sonarr-config
        lun: 0
        fsType: ext4
  media:
    enabled: true
    type: custom
    volumeSpec:
      nfs:
        server: truenas.feldman.in
        path: /mnt/primary/Media
  downloads:
    enabled: true
    type: custom
    volumeSpec:
      nfs:
        server: truenas.feldman.in
        path: /mnt/primary/Downloads

service:
  main:
    ports:
      http:
        port: 8989
