apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-kube-system-amd-gpu
  namespace: cluster

spec:
  destination:
    namespace: kube-system
    name: in-cluster
  project: skywalker
  source:
    chart: amd-gpu
    repoURL: https://rocm.github.io/k8s-device-plugin/
    targetRevision: '0.16.0'
    helm:
      releaseName: amd-gpu
        