apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-kube-system-sealed-secrets
  namespace: cluster

spec:
  destination:
    namespace: kube-system
    name: in-cluster
  project: skywalker
  source:
    chart: sealed-secrets
    repoURL: https://bitnami-labs.github.io/sealed-secrets
    targetRevision: 2.18.0
    helm:
      releaseName: sealed-secrets-controller
