apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute

metadata:
  name: printer-

spec:
  hostnames:
    - printer-v02-8nhft.feldman.in
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: feldman-in
      namespace: istio-system
  rules:
    - backendRefs:
        - group: ''
          kind: Service
          name: spoolman
          namespace: application
          port: 8000
          weight: 1
