apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-cluster-istio-base
  namespace: cluster

spec:
  destination:
    namespace: cluster
    name: in-cluster
  project: skywalker
  source:
    chart: base
    repoURL: https://istio-release.storage.googleapis.com/charts
    targetRevision: 1.21.1
    helm:
      releaseName: istio-base
      valuesObject:
        global:
          istioNamespace: cluster
  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
      jsonPointers:
        - /webhooks/0/failurePolicy
