apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-cluster-istiod
  namespace: cluster

spec:
  destination:
    namespace: cluster
    name: in-cluster
  project: skywalker
  source:
    chart: istiod
    repoURL: https://istio-release.storage.googleapis.com/charts
    targetRevision: '1.21.0'
    helm:
      releaseName: istiod
      valuesObject:
        global:
          istioNamespace: cluster
        meshConfig:
          extensionProviders:
            - name: "authentik"
              envoyExtAuthzHttp:
                service: "ak-outpost-authentik-embedded-outpost.application.svc.cluster.local"
                port: "9000"
                pathPrefix: "/outpost.goauthentik.io/auth/envoy"
                headersToDownstreamOnAllow:
                    - cookie
                headersToUpstreamOnAllow:
                    - set-cookie
                    - x-authentik-*
                    # Add authorization headers to the allow list if you need proxy providers which
                    # send a custom HTTP-Basic Authentication header based on values from authentik
                    # - authorization
                includeRequestHeadersInCheck:
                    - cookie
  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
      jsonPointers:
        - /webhooks/0/clientConfig/caBundle
        - /webhooks/1/clientConfig/caBundle
        - /webhooks/2/clientConfig/caBundle
        - /webhooks/3/clientConfig/caBundle
