apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-cluster-argo-cd
  namespace: cluster

spec:
  project: skywalker
  destination:
    namespace: cluster
    name: in-cluster
  source:
    chart: argo-cd
    repoURL: https://argoproj.github.io/argo-helm
    targetRevision: 7.4.2
    helm:
      releaseName: argocd
      valuesObject:
        controller:
          replicas: 2
        server:
          autoscaling:
            enabled: true
        repoServer:
          autoscaling:
            enabled: true
        applicationSet:
          autoscaling:
            enabled: true
        configs:
          cm:
            url: "https://argocd.feldman.in"
            kustomize.buildOptions: --enable-alpha-plugins --enable-helm --load-restrictor LoadRestrictionsNone
            dex.config: |
              connectors:
                - name: Authentik
                  type: oidc
                  id: authentik
                  config:
                    issuer: https://authentik.feldman.tech/application/o/argocd/
                    clientID: argocd
                    clientSecret: $argocd-oidc:authentik.clientSecret
                    insecureEnableGroups: true
                    scopes: ["openid", "profile", "email"]
          rbac:
            policy.csv: |
              g, ArgoCD Admins, role:admin
              g, ArgoCD Viewers, role:readonly 
          params:
            server.insecure: true

