apiVersion: gateway.networking.k8s.io/v1beta1
kind: HTTPRoute

metadata:
  name: awx

spec:
  hostnames:
    - awx.feldman.in
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: feldman-in
      namespace: istio-system
  rules:
    - backendRefs:
        - name: awx-service
          port: 80
