apiVersion: awx.ansible.com/v1beta1
kind: AWX

metadata:
  name: awx

spec:
  service_type: clusterip
  postgres_data_volume_init: true
  postgres_configuration_secret: awx-postgres-configuration-awx
