csiDriver:
  name: org.democratic-csi.freenas-iscsi
driver:
  existingConfigSecret: democratic-csi-freenas-isci-driver-config
  config:
    driver: freenas-api-iscsi
storageClasses:
  - name: freenas-api-iscsi
    defaultClass: false
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: ext4
    mountOptions: []
    secrets:
      provisioner-secret:
      controller-publish-secret:
      node-stage-secret:
      node-publish-secret:
      controller-expand-secret:
