image:
  repository: ghcr.io/mealie-recipes/mealie
  tag: v3.9.1
env:
  TZ: America/New_York
  ALLOW_SIGNUP: false
  ALLOW_PASSWORD_LOGIN: false
envFrom:
  - secretRef:
      name: mealie-env
volumeMounts:
  - name: api-data
    mountPath: /app/data/
resources:
  requests:
    cpu: 1000m
    memory: 512Mi
  limits:
    cpu: 2000m
    memory: 1Gi

service:
  main:
    ports:
      http:
        port: 9000
persistence:
  api-data:
    enabled: true
    mountPath: /app/data/
    accessMode: ReadWriteOnce
    size: 10Gi
