apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: database

resources:
  - database.namespace.yaml

  - cloudnative-pg
  - kube-prometheus
  - mariadb
  - postgres
  - postgres-operator
