apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-application-home-assistant
  namespace: cluster

spec:
  destination:
    namespace: application
    name: in-cluster
  project: skywalker
  source:
    chart: app-template
    repoURL: http://bjw-s.github.io/helm-charts/
    targetRevision: 3.1.0
    helm:
      releaseName: home-assistant
      valuesObject:
        controllers:
          main:
            containers:
              main:
                image:
                  repository: ghcr.io/home-assistant/home-assistant
                  tag: "2024.4.3"
                env:
                  TZ: America/New_York
                command: 
                  - /bin/sh
                  - -c
                args:
                  - apk add openldap-clients && python3 -m homeassistant --config /config

        service:
          main:
            controller: main
            ports:
              http:
                port: 8123

        persistence:
          config:
            enabled: true
            accessMode: ReadWriteOnce
            size: 4Gi
        
        serviceMonitor:
          main:
            enabled: true
            serviceName: main
            endpoints:
              - port: http
                scheme: http
                path: /api/prometheus
                interval: 1m
