apiVersion: networking.istio.io/v1beta1
kind: VirtualService

metadata:
  name: home-assistant

spec:
  gateways:
    - cluster/feldman-tech
  hosts:
    - home-assistant.feldman.tech
  http:
    - match:
      - uri:
          prefix: /
      route:
        - destination:
            host: home-assistant
            port:
              number: 8123
---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy

metadata:
    name: home-assistant-policy

spec:
  selector:
    matchLabels:
      istio: ingressgateway
  action: CUSTOM
  provider:
    name: "authentik"
  rules:
    - to:
      - operation:
          hosts:
            - "home-assistant.feldman.tech"
