controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/home-assistant/home-assistant
          tag: "2024.8.0"
        env:
          TZ: America/New_York
        command: 
          - /bin/sh
          - -c
        args:
          - apk add openldap-clients && python3 -m homeassistant --config /config

service:
  main:
    controller: main
    ports:
      http:
        port: 8123

persistence:
  config:
    enabled: true
    accessMode: ReadWriteOnce
    size: 4Gi

serviceMonitor:
  main:
    enabled: true
    serviceName: home-assistant
    endpoints:
      - port: http
        scheme: http
        path: /api/prometheus
        interval: 1m