controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/home-assistant/home-assistant
          tag: "2025.11.2"
        env:
          TZ: America/New_York
        command: 
          - /bin/sh
          - -c
        args:
          - apk add openldap-clients && python3 -m homeassistant --config /config
        resources:
          requests:
            cpu: 2000m
            memory: 2Gi
          limits:
            cpu: 4000m
            memory: 4Gi

service:
  main:
    controller: main
    ports:
      http:
        port: 8123

persistence:
  config:
    enabled: true
    accessMode: ReadWriteOnce
    size: 4Gi

serviceMonitor:
  main:
    enabled: true
    serviceName: home-assistant
    endpoints:
      - port: http
        scheme: http
        path: /api/prometheus
        interval: 1m