apiVersion: networking.istio.io/v1beta1
kind: VirtualService

metadata:
  name: authentik

spec:
  gateways:
    - cluster/feldman-tech
  hosts:
    - authentik.feldman.tech
  http:
    - match:
        - uri:
            prefix: /
      route:
        - destination:
            host: authentik-server
            port:
              number: 80
---
apiVersion: monitoring.coreos.com/v1
kind: Probe

metadata:
  name: authentik

spec:
  jobName: authentik-web
  interval: 15s
  module: http_2xx
  prober:
    url: kube-prometheus-blackbox-exporter.database.svc.cluster.local:19115
  targets:
    staticConfig:
      static:
        - https://authentik.feldman.tech
