apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: skywalker-application-authentik
  namespace: cluster

spec:
  destination:
    namespace: application
    name: in-cluster
  project: skywalker
  source:
    chart: authentik
    repoURL: https://charts.goauthentik.io/
    targetRevision: 2023.10.7
    helm:
      releaseName: authentik
      valuesObject:
        global:
          envFrom:
          - secretRef:
              name: authentik-env
          - secretRef:
              name: authentik-database-env-authentik
        redis:
          enabled: true
          master:
            persistence:
              enabled: false
        
