apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: authentik

resources:
  - authentik-env.sealed-secret.yaml
  - authentik.postgres.yaml
  - authentik.virtual-service.yaml

helmCharts:
  - name: authentik
    repo: https://charts.goauthentik.io/
    releaseName: authentik
    version: 2024.6.0
    namespace: application
    valuesFile: values.yaml