global:
  envFrom:
  - secretRef:
      name: authentik-env
  - secretRef:
      name: authentik-database-env-authentik
server:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
redis:
  enabled: true
  master:
    persistence:
      enabled: false