global:
  envFrom:
  - secretRef:
      name: authentik-env
  - secretRef:
      name: authentik-database-env-authentik
  resources:
    requests:
      cpu: 1
      memory: 512Mi
    limits:
      cpu: 2
      memory: 1Gi
server:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  
redis:
  enabled: true
  master:
    persistence:
      enabled: false