apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: printer-v02-8nhft
spec:
  hosts:
  - printer-v02-8nhft.local
  ports:
  - number: 80
    name: http
    protocol: HTTP
  resolution: DNS
  location: MESH_EXTERNAL
