meshConfig:
  extensionProviders:
    - name: "authentik"
      envoyExtAuthzHttp:
        service: "ak-outpost-authentik-embedded-outpost.application.svc.cluster.local"
        port: "9000"
        pathPrefix: "/outpost.goauthentik.io/auth/envoy"
        headersToDownstreamOnAllow:
            - cookie
        headersToUpstreamOnAllow:
            - set-cookie
            - x-authentik-*
            # Add authorization headers to the allow list if you need proxy providers which
            # send a custom HTTP-Basic Authentication header based on values from authentik
            # - authorization
        includeRequestHeadersInCheck:
            - cookie
