apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: cluster

resources:
  - cluster.namespace.yaml
  - gateway-api.yaml

  - argocd
  - cert-manager
  - longhorn
  - metallb
