controllers:
  app:
    containers:
      main:
        image:
          repository: lscr.io/linuxserver/qbittorrent
          tag: 4.6.5
        env:
          TZ: America/New_York
          WEBUI_PORT: 8080

persistence:
  config:
    enabled: true
    type: custom
    volumeSpec:
      iscsi:
        targetPortal: 10.10.90.30:3260
        iqn: iqn.2005-10.org.freenas.ctl:skywalker-qbittorrent-config
        lun: 0
        fsType: ext4
  downloads:
    enabled: true
    type: custom
    volumeSpec:
      nfs:
        server: truenas.feldman.in
        path: /mnt/primary/Downloads

service:
  app:
    controller: app
    ports:
      http:
        port: 8080

route:
  app:
    enabled: true
    parentRefs:
      - name: feldman-in
        namespace: istio-system
    hostnames: ["qbittorrent.feldman.in"]
    rules:
      - backendRefs:
          - name: qbittorrent
            port: 8080
            namespace: media
