name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'

jobs:

  renovate:
    name: Renovate
    runs-on: ubuntu-latest

    steps:
      - name: Generate Token
        uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          private_key: ${{ secrets.app_private_key }}
          app_id: ${{ secrets.app_id }}

      - name: Checkout
        uses: actions/checkout@v4

      - name: Renovate
        uses: renovatebot/github-action@v41.0.22
        env:
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: "${{ github.repository }}"
        with:
          token: "${{ steps.generate-token.outputs.token }}"
